<style>
	body{
      	text-align: center;
		background-color: grey;
      	color: blue; 
      	border: 4px solid black;
      	margin: 30px;
      	padding: 20px;
      	font-family: Calibri,sans-serif;
      	font-size: 12px;
	}
    .info{
		text-align: center;
		font-weight: bold;
      	color: black;
      	font-size: 15pt;
		border: 4px solid black;
      	margin: 30px;
      	padding: 20px;
	}
	.hours{
		background-color: olive;
		text-align: center;
		font-weight: bold;
      	color: black;
      	font-size: 15pt;
		border: 4px solid black;
      	margin: 30px;
      	padding: 20px;
    }
	.sale-items{
		background-color: yellow;
		text-align: center;
		font-weight: bold;
      	color: black;
      	font-size: 15pt;
		border: 4px solid black;
      	margin: 30px;
      	padding: 20px;
    }
	.fruits-veg{
		background-color: green;
		text-align: center;
		font-weight: bold;
      	color: black;
      	font-size: 15pt;
		border: 4px solid black;
      	margin: 30px;
      	padding: 20px;
    }
	.banner{
		width: 800px;
  		height: 600px;
 	  	background-color: lightblue;  
  	    display: flex;  
   		flex-direction: column;  
    	justify-content: center;  
    	align-items: center;  
    	color: yellow;  
    	text-align: center; 
    	padding: 20px; 
    	box-sizing: border-box;
		}
	 }
	#saleButton {
 	 	padding: 30px 50px;
	  	font-size: 40px;
		color: orange;
		font-weight: bold;
	}
	.aisle{
		width: 600px;
  		height: 400px;
 	   	background-size: cover; 
  		background-position: center;  
		background-repeat: no-repeat;  
		text-align: center;
	   	color: red;
    	border: 4px solid black;
 		font-family: Calibri,sans-serif;
		font-weight: bold;
     	font-size: 30px;
		margin: 30px;
   		padding: 20px;
	}
		
	
</style>
